/* Colors and fonts*/
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Montserrat:wght@300;400;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,900;1,900&display=swap');

@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/card-white.css");
@import url("components/card-me.css");


body{
	font-family: 'Lora', sans-serif;
	font-size: 16px;
	margin: 0px;
	background-color: #F7F9FC;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-size : 38px;
	font-weight: bold;
}

h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
}

a{
	text-decoration: none;
}

